%html{:xmlns => "http://www.w3.org/1999/html"}
  %head
    %title
      - if content_for?(:title)
        Hack Week:
        = yield(:title)
      -else
        Hack Week
    %meta{:charset=> "utf-8"}
    %meta{:name => "viewport", :content =>"width=device-width, initial-scale=1.0"}
    = favicon_link_tag 'favicon.gif'
    = stylesheet_link_tag "application", :media => "all"
    %meta{:property => "og:title", :content => "SUSE Hack Week"}
    %meta{:property => "og:image", :content => "http://hackweek.suse.com/images/hackweek-logo-10.png"}
    %meta{:property => "og:site_name", :content => "SUSE Hack Week"}
    %meta{:property => "og:description", :content => "Hack Week is the week where SUSE engineers can experiment without limits. This is the opportunity to innovate, collaborate across teams, and learn."}
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "layouts/header"
    .container
      #content
        - if flash
          = render partial: "layouts/alert", flash: flash
        - if @news
          = render partial: "layouts/news"
        = yield
    = render :partial => "layouts/footer"

    = render :partial => "layouts/scripts" if Rails.env.production?
    = yield :script
    :javascript
        console.log('working!!!')
        var emojis = [
          "smile", "iphone", "girl", "smiley", "heart", "kiss", "copyright", "coffee",
          "a", "ab", "airplane", "alien", "ambulance", "angel", "anger", "angry",
          "arrow_forward", "arrow_left", "arrow_lower_left", "arrow_lower_right",
          "arrow_right", "arrow_up", "arrow_upper_left", "arrow_upper_right",
          "art", "astonished", "atm", "b", "baby", "baby_chick", "baby_symbol",
          "balloon", "bamboo", "bank", "barber", "baseball", "basketball", "bath",
          "bear", "beer", "beers", "beginner", "bell", "bento", "bike", "bikini",
          "bird", "birthday", "black_square", "blue_car", "blue_heart", "blush",
          "boar", "boat", "bomb", "book", "boot", "bouquet", "bow", "bowtie",
          "boy", "bread", "briefcase", "broken_heart", "bug", "bulb",
          "person_with_blond_hair", "phone", "pig", "pill", "pisces", "plus1",
          "point_down", "point_left", "point_right", "point_up", "point_up_2",
          "police_car", "poop", "post_office", "postbox", "pray", "princess",
          "punch", "purple_heart", "question", "rabbit", "racehorse", "radio",
          "up", "us", "v", "vhs", "vibration_mode", "virgo", "vs", "walking",
          "warning", "watermelon", "wave", "wc", "wedding", "whale", "wheelchair",
          "white_square", "wind_chime", "wink", "wink2", "wolf", "woman",
          "womans_hat", "womens", "x", "yellow_heart", "zap", "zzz", "+1",
          "-1"
        ]
        var emojis = $.map(emojis, function(value, i) {return {key: value, name:value}});
        data = #{raw User.pluck(:name).compact.to_json};
        var emoji_config = {
          at: ":",
          data: emojis,
          displayTpl: "<li>${name} <img src='https://assets-cdn.github.com/images/icons/emoji/${key}.png'  height='20' width='20' /></li>",
          insertTpl: ':${key}:',
          delay: 400
        }
        $('textarea').atwho({at:"@", 'data':data}).atwho(emoji_config);

  .modal.fade#modal{ role: :dialog, aria_hidden: true }
    .modal-dialog
      .modal-content
        .modal-header#modal-header
        .modal-body#modal-body
        .modal-footer
          %button.btn.btn-default{ type: :button, data:{ dismiss: :modal }} Close
